/* Styling for Nav bar. Bg color, link color etc */
/* first color is top color in upper bar, second is bottom. write all equal for consistency */
.navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  background-color: #000000;
  background-image: -moz-linear-gradient(top, #233c5c, #070c12);
  background-image: -ms-linear-gradient(top, #233c5c, #070c12);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#233c5c), to(#070c12));
  background-image: -webkit-linear-gradient(top, #233c5c, #070c12);
  background-image: -o-linear-gradient(top, #233c5c, #070c12);
  background-image: linear-gradient(top, #233c5c, #070c12);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar .nav > li > a { color: #ffffff;}
.navbar .divider-vertical { border-right: 1px solid #ffffff; }
.navbar { margin-bottom: 0.8em; }
.navbar .nav > li > a:hover {text-decoration: underline;background-color:transparent;}
.navbar .nav .active>a:active {color:#ffffff;text-decoration:underline;background-color:#000000;}
.navbar .nav .active>a:hover {color:#ffffff;text-decoration:underline;}
/*Adding vertical lines to the sides when mouse is over the contact details*/
.nav-list li:hover > a {border-left: 1px solid #4271AE;border-right: 1px solid #4271AE;padding-left: 14px}

/*Website name*/
.navbar .brand{float:left;display:block;padding:10px 16px 12px;margin-left:-20px;font-size:20px;font-weight:1000;text-shadow: 0.1em 0.1em 0.1em #5f5f5f;line-height:1;color:#ffffff;}


/*Button*/

.btn{
  margin: 0px;
  color: #2a486f;
  background-color: #233c5c;
  background-image: -moz-linear-gradient(top, #2a486f, #233c5c);
  background-image: -ms-linear-gradient(top, #2a486f, #233c5c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2a486f), to(#233c5c));
  background-image: -webkit-linear-gradient(top, #2a486f, #233c5c);
  background-image: -o-linear-gradient(top, #2a486f, #233c5c);
  background-image: linear-gradient(top, #2a486f, #233c5c);
  opacity: 1;
  /*border-radius: 5px;*/
}
.btn:hover{
background-color:#233c5c;}

/* Side menu
.nav-list>li>a,.nav-list .nav-header{color:#000000,margin-left:-15px;margin-right:-15px;text-align:left;}
.nav-list>li>a{marginpadding:5px 15px;}*/

/* Copied from tiles. Probably wrong coding
.navbar a.title {  font-size: 1.25em;}
.navbar .feeds {  float: right;  text-align: right;  width: 25%;  height: 41px;  padding-top: 9px;}
.navbar .feeds a {  display: block;  float: right;  padding-right: 5px;  width: 40px;}
.navbar .feeds a:hover,
.navbar .feeds a:active {  border-bottom: none;}
.navbar .pages {  float: right;}
.navbar .pages a {  font-size: 1.1em;}*/


/* Styling for elements */
body {/*font-family: 'Source Sans Pro', sans-serif;*/ font-size: 16px; line-height: 150%; text-align: left; color: #000000; padding: 0; }
html {  font-size: 100%;  -ms-text-size-adjust: 100%;  -webkit-text-size-adjust: 100%;}
li { line-height: 1.7em; }



/* Layout */

.wrapper {   width: 100%;}
.content {
   display: table-cell;
  border-left: 0.px solid #d6d6d6;
  border-right: 0.px dotted #D6D6D6;
  border-bottom: 0.5px dotted #D6D6D6;
  padding-bottom: 100px;
}



footer {
  /*border-top: 1px solid #D6D6D6;*/
  line-height: 30px;
  font-size: 0.8em;
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
/*    font-family: "Source Sans Pro",sans-serif;*/
    font-style: bold;
    font-weight: 1000;
    text-shadow: 0.1em 0.1em 0.1em #EFEFEF;
    line-height: 125%;
}

h1 {
  font-size: 2em;
  margin: 0em 0;
  padding: 0em 0 1em;
}

h1 a {
  color: inherit;
  border-bottom: none;
}

h2 {
  padding: 0.5em 1em 1em;
}


/* Sidebar */

.sidebar {
  /*display: table-cell;
width: 25%;
  border-right: 99px #d6d6d6;
  padding: 0 40px 5em 20px;
  margin: 2em 1000em 2em;*/
}

/* Texts */

p {
  font-size: 100%;
  line-height: 1.7em;
  margin-left: 0em;
  margin-bottom: 0em;
  margin-top: 1em;
}

/*a {
  text-decoration: none;
  border-bottom: 1px dotted #4D4D4C;
  color: #4D4D4C;
}

/*a:hover, a:active {
  text-decoration: none;
  border-bottom: 1px dotted #4271AE;
  color: #4271AE;
}*/

.literal {
  font-size: 0.9em;
  border: 100px solid #F0F0F0;
  padding: 0px 5px;
}

pre {
  /*font-family: 'Source Code Pro',monospace;*/
  background: none repeat scroll 0 0 #FBFBFB;
  border-radius: 2px dotted;
  font-size: 0.9em;
  font-style: normal;
  letter-spacing: 0.015em;
  line-height: 130%;
  padding: 0.5em;
  margin-bottom: 3em;
  white-space: pre-wrap;
/* word-wrap: normal|break-word|initial|inherit;*/
  word-wrap: initial;
}

/*hr {
  margin: 40px 5% 60px 5%;
  color: #d6d6d6;
  box-shadow: 0.1em 0.1em 0.1em #EFEFEF;
  border-radius: 5000px;
}*/


/* Article */

article.summary {
  margin-bottom: 40px;
  clear: both;
}

article.summary > div {
  margin-left: 28%;
}

article.full .metadata,
article.summary .metadata {
  padding: 1%;
  border: 1px dotted #EFEFEF;
  box-shadow: 0.1em 0.1em 0.1em #EFEFEF;
  font-style: italic;
}

article.full .metadata {
  width: 25%;
  float: right;
  margin: 0 0 2% 1%;
}

article.summary .metadata {
  width: 23%;
  float: left;
  margin: 0 1% 2% 0 ;
}

.metadata p {
  margin: 0;
}

/* Listings */

ol.archive li {
  margin: 8px 0;
}

ol.archive li time,
ol.archive li .tags
 {
  line-height: 140%;
  font-size: 0.8em;
  margin: 0;
}


/* Social */

.social a[href*='activestate.com']:before {content: url('./images/icons/activestate.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='atom.xml']:before {content: url('./images/icons/rss.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='bitbucket.org']:before {content: url('./images/icons/bitbucket.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='code.google.com']:before {content: url('./images/icons/phosting.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='delicious.com']:before {content: url('./images/icons/delicious.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='digg.com']:before {content: url('./images/icons/digg.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='facebook.com']:before {content: url('./images/icons/facebook.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='github.com']:before {content: url('./images/icons/github.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='gitlab.com']:before {content: url('./images/icons/gitlab.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='gitorious.org']:before {content: url('./images/icons/gitorious.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='google.com/reader']:before {content: url('./images/icons/reader.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='jamendo.com']:before {content: url('./images/icons/jamendo.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='last.fm']:before {content: url('./images/icons/lastfm.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='linkedin.com']:before {content: url('./images/icons/linkedin.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='rss.xml']:before {content: url('./images/icons/rss.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='stackoverflow.com']:before {content: url('./images/icons/stackoverflow.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='twitter.com']:before {content: url('./images/icons/twitter.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='scholar.google.com']:before {content: url('./images/icons/googlescholar.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='scr.im']:before {content: url('./images/icons/email.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='spamty.eu']:before {content: url('./images/icons/email.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='researchgate.net']:before {content: url('./images/icons/researchgate.png'); margin-right: 5px; vertical-align: -3px;}
